# API Configuration
EXPO_PUBLIC_API_URL=http://192.168.0.110:3000/api

# EXPO_PUBLIC_API_URL=http://192.168.0.104:3000/api

Map Configuration (Google Maps)
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBIuA5jCeQ_S6DnAPdvFiJGtYEpliOT6Xc

Map Configuration (OpenStreetMap and Mapbox),
EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=your_mapbox_token_here

App Configuration,
EXPO_PUBLIC_APP_NAME=CarPoolApp
EXPO_PUBLIC_APP_VERSION=1.0.0

Supabase Configuration (REQUIRED),
EXPO_PUBLIC_SUPABASE_URL=https://amwieghvhghoregosdsg.supabase.co/
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFtd2llZ2h2aGdob3JlZ29zZHNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ3NTYzNzAsImV4cCI6MjA4MDMzMjM3MH0.TYznW9S9SDbW2E4Mmzw19KpPMr5_pkmPtUmxCQfGlzA
EXPO_PUBLIC_REDIRECT_URL=carpoolapp://auth
